@model WebApplication1.Models.LoginModel

@{ ViewData["Title"] = "Login"; }

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "adForm" }))
{
<div class="form-group">
    <label asp-for="UserName" class="control-label">Username</label>
    @Html.TextBoxFor(m => m.UserName, new { @class = "textbox-normal", style = "width:300px" })
</div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "textbox-normal", style = "width:300px" })
                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label">Password</label>
                                    @Html.TextBoxFor(m => m.Password, new { @class = "textbox-normal", style = "width:300px" })
                                </div>
                                                <button type="submit" class="button-reverse">Save</button>}